*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.header{
    background-color: bisque;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(15, 9, 9);
}
.header nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 500px)
{
    .header nav{
        display: none;
    }
    .myImage{
        opacity: 50%;
        position: relative;
        width: 150%;
        height: 100%;
    }
    .about{
        margin-top: 50%;
    }
    ol{
        flex-direction: column;
        align-items: center;
    };
    .qualification{
        font-size: 1em;
    }
}
nav li:hover{    
    border-bottom: solid 5px yellowgreen;
}
.name{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.bold{
    font-weight: 700;
}
.about{
    margin-top: 200px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-family: 'Dongle', sans-serif;
    font-size: 1.7em;
    padding: 20px;
    text-align: justify;
    width: 100%;
    background-color: ghostwhite;
    background-blend-mode: overlay;
}

.myImage{
    position: fixed;
    z-index: -1;
}

ol{
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 1.3em;
}
.experience ol:hover{
    cursor: pointer;
}
.experience{
    background-color: turquoise;
}
.qualification{
    background-color: rgb(43, 43, 116);
    border-bottom: solid 5px white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    color: white;
    margin: 20px auto;
    text-align: center;
    font-size: 1.5em;
}
.details{
    display: flex;
    align-items: center;
}
.education{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    background-color: black;
    color: white;
}
table{
    margin: auto;
    width: 100%;
    text-align: center;
}
ol:nth-child(3){
    border-bottom: solid 1px azure;
}
td{
   padding: 10px 10px;
}