*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* MENU BAR*/
.tabs{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2rem;
    background-color: aqua;
    padding: 10px;
}
.tabs a{
    text-decoration: none;
    color: black;
}
.intro{
    background-color: beige;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 91vh;
}
.name{
    font-family: Arial;
    font-size: 3rem;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    margin: 20px;
}
.icons{
    height: 25px;
    width: 25px;
}
.double-q{
    height: 30px;
    width: 30px;
}
#q1{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.name span{
    color: blue;
}
.hat{
    height: 70px;
    width: 70px;
    transform: rotate(-45deg);
    position: relative;
    left: 25px;
    animation: mymove 5s infinite;
}
.summary{
    line-height: 3ch
}
@keyframes mymove {
    50% {transform: rotate(90deg);}
  }
/* SECTION - 2 */
.section2{
    background-color: beige;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: azure;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
.card h2{
    font-family: 'Sansita Swashed', cursive;
}
/* SECTION - 3 */
.e-details{
    background-color: black;
    padding: 20px;
    line-height: 3ch;
    border-radius: 20px;
    width: fit-content;
}
.section3{
    padding: 100px;
    color: aliceblue;
    line-height: 3ch;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 95vh;
    background-color:brown;
}
/* SECTION - 4 */
.section4{
    color: aliceblue;
    line-height: 3ch;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 285vh;
    color: black;
    background-color:yellow
}
.img-1{
    height: 200px;
    width: 200px;
}
/* section -5 */
.section5{
    padding: 100px;
    color: aliceblue;
    line-height: 3ch;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 95vh;
    background-color:darkcyan
}
.double-q1{
    height: 50px;
    width: 50px;
}